/* RODANDO O MAPA DO API DO GOOGLE MAPS
Always set the map height explicitly to define the size of the div element
that contains the map. 
*/
#map {
    height: 100%;    
}
/* Optional: Makes the sample page fill the window.  */
html,
body {
    background-image: linear-gradient(-60deg, rgb(59, 100, 39) 20%, rgb(42, 67, 84) 70%);
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Formato da DIV do formulário da página cadastro e de listar eventos*/
.forms{    
    color: white;
    position: absolute;
    margin-top: 18px;
    width: 90%;
    height: 90%;
    padding: 10px;
    margin-left: 22px;
    border-radius: 10px 20px;
    background-color: rgb(9, 16, 21); 
}
.formsList{
    position: absolute;
    margin-top: 20px;
    min-width: 27%;
    max-width: 27%;
    min-height: 60%;
    padding: 40px;
    margin-left: 20px;
    border-radius: 40px;
    background-image: linear-gradient(-60deg, rgb(8, 8, 15) 50%, rgb(7, 17, 10) 50%);
}
.sombraForms{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 20px;
    margin-right: 950px;
    position: absolute;
    min-width: 28%;
    min-height: 80%;
    background-image: linear-gradient(-60deg, rgb(13, 15, 13) 50%, rgb(74, 79, 82) 50%); 
    
}
.containerEvento{
    position: relative;
    overflow: hidden;
    padding: 10px;
    height: 40px;
}
#listaEv{
    opacity: 1;
    width: auto;
    color: white;
}
.title{
    border-radius: 5px;
    border-bottom-style:double;
}
/*Configurações das caixas de texto do formulário cadastro*/
.cxtxt{
    width: 90%;
    height: 40px;
    margin: 10px;    
}
.cxtxt2{
    width: 90%;
    margin: 10px;
    height: 150px;
}
/*Formatação do HTML gerado pel JS pra inserir os eventos do BANCO*/
.containerEvento:hover{
    height: auto;
}
.EM{
    margin-left: 10px;
}
.evt{
    border-radius: 10px 20px;
    background-color: rgb(13, 29, 44);
}
.descr{
    text-align: justify;
}
.dat{
    text-align: right;
    font-size: small;
}
/* Formatando DIV do mapa do API do GoogleMaps*/
.maps{      
    margin: 20px;
    height: 100%;
    border-radius: 10px 20px;
    position: relative;
    float: right;
    width: 68%;
    background-color:rgb(170, 181, 178); 
}
/*Configuração da imagem logo da página*/
.logo{
    width: 50px;
    opacity: 0.7;    
}
/*Configurações dos botões */
#btnsalvar{
    margin: 5%;
}
.botao{
    border-radius: 10px;
    border: 5px solid #fdfdfd;
    border-top-left-radius: 10px;
    margin-top: 30%;
    margin-left: 12%;
    position: absolute;
}
.botao button{
    width: 300px;
    height: 60px;
    font-size: x-large;
}
/*Configurações de organização das DIV da página inicial */
.infosec{
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 12%;
    padding: 20px;
    text-align: justify;    
    background-color: rgba(106, 148, 163, 0.1);
    max-width: 45%;
    float: left;
}
.info{ 
    font-family: 'Roboto', sans-serif;
    border-radius: 5%; 
    padding: 10px;
    text-align: justify;    
    background-color: rgba(62, 103, 114, 0.2);
    color: rgb(254, 253, 253);
    float: left;
}
.circleimg{
    margin-right: 5%;
    margin-top: 5%;  
    height: 80%;
    position: relative;
    float: right;
}
.circleimg img{  
    width: 100%;
    height: 50%;    
}
.colab{
    float: right;
    position: absolute;
    margin-top: 30%;    
    margin-left: 60%;
    text-align: center;   
}
.colab img{
    width: 7%;
}
/*Configurações dpo rodapé da página*/
footer {
    position: fixed;
    bottom:0;
    left:0;
    color: #ffffff;
    box-sizing: border-box;
    background: #041e1b;
    width: 100%;
}


