/* RODANDO O MAPA DO API DO GOOGLE MAPS
Always set the map height explicitly to define the size of the div element
that contains the map. 
*/
#map {
    height: 100%;
    
}

/* Optional: Makes the sample page fill the window.  */
html,
body {
    background-image: linear-gradient(-60deg, rgb(59, 100, 39) 20%, rgb(42, 67, 84) 70%);
    height: 100%;
    margin: 0;
    padding: 0;
}
/* FIM */

/* Formato da DIV do formulário*/
.forms{
    color: white;
    position: absolute;
    margin-top: 18px;
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 22px;
    border-radius: 10px 20px;
    background-color: rgb(9, 16, 21); 
}
.formsList{
    
    position: absolute;
    margin-top: 20px;
    max-width: 28%;
    min-height: 630px;
    max-height: 630px;
    height: auto;
    padding: 40px;
    margin-left: 20px;
    border-radius: 40px;
    background-image: linear-gradient(-60deg, rgb(4, 4, 9) 50%, rgb(5, 11, 7) 50%);
}
.containerEvento{
    position: relative;
    overflow: hidden;
    padding: 10px;
    height: 40px;
}
.containerEvento:hover{
    height: auto;
}
.EM{
    margin-left: 10px;
}
.evt{
    border-radius: 10px 20px;
    background-color: rgb(13, 29, 44);
}
.descr{
    text-align: justify;
}
.dat{
    text-align: right;
    font-size: small;
}
.title{
    border-radius: 5px;
    border-bottom-style:double;
}
/* FIM */
/* Formatando DIV do mapa*/
.maps{       
    margin: 20px;
    height: 100%;
    border-radius: 10px 20px;
    position: relative;
    float: right;
    width: 68%;
    background-color:rgb(170, 181, 178);
    opacity: 1; 
}
#listaEv{
    opacity: 1;
    width: auto;
    color: white;
}


/* FIM */
.imgfund{
    position:absolute;
    left: 5%;    
}
.logo{
    width: 50px;
    opacity: 0.7;    
}
.cxtxt{
    width: 300px;
    margin: 10px;    
}
.cxtxt2{
    width: 300px;
    margin: 10px;
}

#descricao{
    width: 300px;
    height: 100px;
}

.listEvents{
    margin: 10px;
    background-color: black;
    border-radius: 10px 30%;
    position: absolute;
    width: 600px;
    height: 600px;
    opacity: 0.3;
}
#salvar{
    margin-left: 51%;
}
footer{

    position: relative;
    width: 100%;
    padding: 5px;
    display: flex;
    clear: both;
    align-items: center;
    background: #041e1b;
    color: #ffffff;
    box-sizing: border-box;
}
.secao{
    border-radius: 20px;
    margin: 20px;
    margin-right: 950px;
    position: inherit;
    min-width: 45px;
    min-height: 420px;
    background-image: linear-gradient(-60deg, rgb(13, 15, 13) 50%, rgb(74, 79, 82) 50%); 
}
.infosec{
    border-radius: 10%;
    margin-top: 5%;
    margin-left: 12%;
    padding: 20px;
    text-align: justify;    
    background-color: rgba(106, 148, 163, 0.1);
    max-width: 50%;
    float: left;
}
.info{  
    border-radius: 5%; 
    padding: 10px;
    text-align: justify;    
    background-color: rgba(62, 103, 114, 0.2);
    color: rgb(254, 253, 253);
    float: left;
}
.circleimg{
    
    border-radius: 100%;
    height: 500px;
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}
.circleimg img{
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 110px;
}

.colab{
    top: 40px;
    position: relative;
    text-align: center;
    float: right;
}
.imgCol{
    position: relative;
    max-width: 100px;
    padding: 10px;
}
.botao{
    margin-top: 500px;
    margin-left: 100px;
    position: absolute;
}




